/sitemap.xml
/yarn.lock
/mynotes.md
/gulpfile.js
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.*
/.idea
/.vagrant
npm-debug.log
yarn-error.log
Homestead.json
Homestead.yaml
.env
/public/uploads/.tmb
/vendor/
.vscode/
composer.lock
package-lock.json
.ipynb_checkpoints
*.swp
*.swo
.DS_Store
/__pycache__
